.woocommerce {
	&.woocommerce-cart .cart-collaterals {
		.button {
			&:disabled {
				border: solid 1px var( --vamtam-default-line-color );
				padding: 14px 29px;
				background: transparent;
				box-shadow: none;
			}
		}

		.wc-proceed-to-checkout .button {
			margin-right: 0px;
			display: block;
			width: 100%;
			box-sizing: border-box;
		}
	}

	.button.add_to_cart_button {
		color: var( --vamtam-body-link-regular );
		&:focus {
			outline: none !important;
		}

		&:not(.added):focus .icon,
		&:after {
			color: var( --vamtam-accent-color-1 );
		}

		.icon {
			color: var( --vamtam-body-link-regular );
		}

		&.added {
			&:after {
				display: inline-block;
				height: auto;
				line-height: 1em;
				vertical-align: top;
				margin-left: 10px;
			}

			+ .added_to_cart {
				opacity: 0;
			}
		}

		&:hover {
			.icon {
				color: var( --vamtam-body-link-hover );
			}
		}

		&.loading:after {
			top: 1em;
			right: 0.7em;
		}
	}
}
