.post-article .post-media .media-inner,
.portfolio-image-wrapper {
	padding: 0;
	border: 0;
	position: relative;
	text-align: center;
	overflow: hidden;

	img {
		margin: auto;
		width: 100%;
		height: auto;
		display: block;
	}

	.client-logo img {
		width: auto;
	}
}

.vamtam-related-content .post-article .gallery-post-format  .post-media,
.loop-wrapper .post-article .gallery-post-format  .post-media {
	border-radius: 0;
}
