/*
Theme Name: Consulting Child
Author: VamTam
Author URI: https://vamtam.com
Template: vamtam-consulting
*/
/*
put your child theme styles here
you don't need any @import rules
*/
.loop-wrapper.news .thumbnail.services-icon {
	height:8rem;
}
.loop-wrapper.news .thumbnail.services-icon img {
	width: auto !important;
	display: inline-block !important;
	position: relative;
    top: 50%;
    transform: translateY(-50%) !important;
}
.loop-wrapper.news .list-item header.single {
	padding-left:15px;
	padding-right:15px;
}
.loop-wrapper.news .post-article .post-content-outer {
	padding-left:15px;
	padding-right:15px;
}
.post-article .vamtam-button-wrap {
	margin-left:15px;
}
.our-journey-block {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.our-journey-item {
	position: relative;
	margin-bottom: 1rem;
	text-align: center;
}
.our-journey-item.w-4 {
	width: 25%;
}
.our-journey-item.w-4:after {
	width: 7rem;
	height: 1.5rem;
	position: absolute;
	top:33%;
	z-index: 1;
	content:"";
}
.our-journey-row:nth-of-type(2n+1) .our-journey-item.w-4:after {
	left: 80%;
}
.our-journey-row:nth-of-type(2n+2) .our-journey-item.w-4:after {
	right: 80%;
}
.our-journey-row:nth-of-type(2n+1) .our-journey-item:nth-of-type(2n+1):after {
	background: url(images/journey-arrow-down.png) no-repeat center center / contain;
}
.our-journey-row:nth-of-type(2n+1) .our-journey-item:nth-of-type(2n+2):after {
	background: url(images/journey-arrow-top.png) no-repeat center center / contain;
}
.our-journey-row:nth-of-type(2n+2) .our-journey-item:nth-of-type(2n+1):after {
	background: url(images/journey-arrow-down-left.png) no-repeat center center / contain;
}
.our-journey-row:nth-of-type(2n+2) .our-journey-item:nth-of-type(2n+2):after {
	background: url(images/journey-arrow-top-left.png) no-repeat center center / contain;
}
.our-journey-item:last-child:after {
	display: none;
}
.our-journey-row {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.our-journey-row:after {
	width: 3rem;
	height: 7.5rem;
	position: absolute;
	top:33%;
	z-index: 1;
	content:"";
}
.our-journey-row:nth-of-type(2n+1):after {
	right:0;
	background: url(images/journey-arrow-show-down.png) no-repeat center center / contain;
}
.our-journey-row:nth-of-type(2n+2):after {
	left:0;
	background: url(images/journey-arrow-show-down-left.png) no-repeat center center / contain;
}
.our-journey-row:last-child:after {
	display: none;
}
.our-journey-row:nth-of-type(2n+1) .our-journey-item {
	float:left;
}
.our-journey-row:nth-of-type(2n+2) .our-journey-item {
	float:right;
}
.our-journey-title,
.our-journey-brief {
	color:#fff !important;
}
.certificate-logo {
	width: 23%;
	float:left;
	margin:0 1%;
	text-align: center;
}
.certificate-logo img {
	max-width: 90%;
	max-height: 100%;
	/*position: relative;
	top:50%;
	transform: translateY(-50%);*/
}
.why-us-item {
	width: 17.5%;
	/*float:left;*/
	display: inline-block;
	vertical-align: top;
	margin:0 1% 1rem;
	text-align: center;
}
.why-us-icon {
	width: 100%;
	height: 3rem;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0.5rem;
}
.why-us-icon img {
	max-width: 100%;
	max-height: 100%;
}
.team-position {
	margin-bottom: 0.3rem
}
.article-type-team {
	width: 100%;
	display: block;
	height:16rem;
}
.article-type-team div,
.article-type-team .thumbnail > a {
	height: 100%;
	width: 100%;
    display: inline-block;
    vertical-align: top;
}
.article-type-team img {
	width: 100%;
	height: 100% !important;
	object-fit: cover;
}
.team-members-custom-listing .article-type-team .thumbnail img {
	transform: scale(1) !important;
}
.team-members-custom-listing .article-type-team:hover .thumbnail img {
	transform: scale(1.1) !important;
}
.meta-header .meta-header-inside {
	padding:20px 0 0 0;
}
.team-members-custom-listing {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
}
.team-member-custom-item {
	width: 25%;
	float:left;
	background-color: #ffffff;
    border-style: solid;
    border-width: 0;
    background-clip: border-box;
    border-color: #ecf4fe;
    border-right-width: 1px;
    border-bottom: 1px solid #ecf4fe;
}
.team-member-custom-item:nth-of-type(4n+4) {
	border-right: none;
}
.team-members-custom-listing .team-member {
	padding:30px !important;
	margin-bottom: 0;
}
.team-members-custom-listing .team-member .team-member-info h5 {
    min-height: 2.4rem;
}
@media screen and (max-width:960px) {
	.team-member-custom-item {
		width: 50%;
	}
}
@media screen and (max-width:600px) {
	.our-journey-item.w-4 {
		width: 100%;
	}
	.our-journey-item {
		margin-bottom: 10rem;
	}
	.our-journey-item.w-4:after {
		top: 121%;
		height: 5.5rem;
	}
	.our-journey-row:nth-of-type(2n+1) .our-journey-item.w-4:after {
		left: 33%;
	}
	.our-journey-row:nth-of-type(2n+2) .our-journey-item.w-4:after {
		right: 33%;
	}
	.our-journey-row:nth-of-type(2n+1) .our-journey-item:nth-of-type(2n+1):after {
		background: url(images/journey-arrow-show-down.png) no-repeat center center / contain;
	}
	.our-journey-row:nth-of-type(2n+1) .our-journey-item:nth-of-type(2n+2):after {
		background: url(images/journey-arrow-show-down-left.png) no-repeat center center / contain;
	}
	.our-journey-row:nth-of-type(2n+2) .our-journey-item:nth-of-type(2n+1):after {
		background: url(images/journey-arrow-show-down.png) no-repeat center center / contain;
	}
	.our-journey-row:nth-of-type(2n+2) .our-journey-item:nth-of-type(2n+2):after {
		background: url(images/journey-arrow-show-down-left.png) no-repeat center center / contain;
	}
	.our-journey-row:nth-of-type(2n+1):after {
		display: none;
	}
	.our-journey-row:nth-of-type(2n+2):after {
		display: none;
	}
	.our-journey-item:last-child:after {
		display: block;
	}
	.our-journey-row:last-child .our-journey-item:last-child:after {
		display: none;
	}
	.certificate-logo {
		width: 48%
	}
	.why-us-item {
		width: 47.5%
	}
	.team-member-custom-item {
		width: 100%;
	}
}